.Rock{
    position:absolute;
    left:42%;
    bottom:0px;
}
.Paper{
    position:absolute;
    left:-10px;
    top:-20px;
}
.Scissors{
    position:absolute;
    right:-10px;
    top:-20px;
}
.Game{
    position:relative;
}